{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src/**/*.service.ts"],
  "exclude": [
    "src/**/*.spec.ts",
    "src/**/cache-config.service.ts",
    "src/**/mailer-config.service.ts",
    "src/**/prisma.service.ts",
    "src/**/abstract/**",
    "src/**/storage/**",
    "src/**/service/{association,game,league,score,sponser,team,team-league}.service.ts",
    "src/**/cloudfront-auth.service.ts"
  ],
  "extension": [".ts"],
  "report-dir": "./.nyc_output/report",
  "temp-dir": "./.nyc_output/temp",
  "cache": true,
  "require": ["@swc/register"]
}
