{
  "$schema": "https://json.schemastore.org/swcrc",
  "test": ".*.ts$",
  "sourceMaps": true,
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true,
      "tsx": false
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "paths": {
      "@/*": ["src/*"]
    },
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs",
    "noInterop": true
  }
}
